.component-container {
  display: flex;
}
.header-div {
  margin: 0;
  padding: 0;
  background-color: red;
  color: white;
  min-width: 100%;
  justify-content: center;
  position: fixed;
}

.main-copy,
.registration-container {
  margin-top: 20vh;
  margin-left: 20vh;
}

@media (max-width: 750px) {
  .main-copy,
  .registration-container {
    margin: 10px;
    margin-top: 20vh;
  }
}

@media (max-width: 620px) {
  .main-copy,
  .registration-container {
    margin: 10px;
    margin-top: 13vh;
  }
}

@media (max-width: 450px) {
  .header-div {
    justify-content: flex-start;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
}
