<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="header-div">
    <app-header />
  </div>
    <div class="mobile-nav">
      <app-nav-mobile (mobile_nav_visibility)="mobileVisibility()" />
    </div>
  <div [class]="['component-container', mobileNavVisibility]" (click)="onMobileNavClick()">
    <app-nav />
  </div>
  <div class="router-container">
    <router-outlet />
  </div>

  
  
  
    <!-- <app-registration /> -->

    <!-- @if (showMission===true) {
      <div class="main-copy">
        <app-main-copy [myNotes] = myNotes/>
      </div>
    }@else{
    } -->
 
  

<router-outlet></router-outlet>
