.component-container {
  display: flex;
  padding-top: 20vh;
}
.header-div {
  margin: 0;
  padding: 0;
  background-color: red;
  color: white;
  min-width: 100%;
  justify-content: center;
  position: fixed;
}
.router-container {
  padding-left: 10vw;
}
.mobile-nav-visibility {
  display: flex;
}

@media (max-width: 800px) {
  .router-container {
    padding: 0;
    padding-top: 20vh;
  }
  .mobile-nav {
    position: fixed;
    top: 5px;
    right: 10px;
  }

  .mobile-nav-visibility {
    display: none;
  }
}

@media (max-width: 620px) {
  .header-div {
    justify-content: flex-start;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .component-container {
    display: flex;
    padding-top: 10vh;
  }

  .mobile-nav-visibility {
    display: none;
  }
}

@media (max-width: 450px) {
  .router-container {
    padding-top: 7vh;
  }
  .header-div {
    justify-content: flex-start;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  .mobile-nav-visibility {
    display: none;
  }
}
