<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">

  
  <div class="header-div">
    <app-header (viewReg)="onRegister($event)"/>
  </div>
  <div class="component-container">
    <app-nav/>

    @if (showMission===true) {
      <div class="main-copy">
        <app-main-copy [myNotes] = myNotes/>
      </div>
    }@else{
  <div class="registration-container">
    <app-registration/>
  </div>
    }
  </div>
 
  

<router-outlet></router-outlet>
