<div class="mission-container">

        <h2>Supporting NYC Veterans</h2>
        <p>Our organization is dedicated to supporting veterans in New York City by addressing their diverse needs and
            aspirations. We recognize the unique challenges faced by different groups of veterans and have categorized them
            to provide tailored assistance:</p>
        <ul>
            <li><strong>Homeless Job Seekers:</strong> Veterans who are homeless and seeking both shelter and employment.
            </li>
            <li><strong>Willing Workers:</strong> Veterans who have no source of income but are willing, able, and ready to
                work, aiming to improve their standard of living.</li>
            <li><strong>Struggling Entrepreneurs:</strong> Veterans with established businesses who encounter difficulties
                in running them.</li>
            <li><strong>Prosperous Business Owners:</strong> Veterans who are well-to-do in business and aspire to grow
                further.</li>
        </ul>
        <p>By understanding and addressing the specific needs of each group, we strive to make a meaningful impact on their
            lives.</p>
</div>
<app-register-button/>
