<div class="nav-margin">
    <div class="nav-elements " (click) = "onHome()">
        Home
    </div>
    <div class="nav-elements"  (click)="onNav()">
        Resources
    </div>
    <div class="nav-elements"  (click)="onServices()">
        Services
    </div>
    <div class="nav-elements"  (click)="onNav()">
    Personality
    </div>
    <div class="nav-elements"  (click)="onNav()">
        Donate
    </div>
    <div class="nav-elements"  (click)="onNav()">
        Contact Us
    </div>
</div>