<div class="base-space">
    <h1>Services</h1>
    <p>
        At Put Veterans First, our mission is to empower and support veterans and disabled veterans in the United States
        by providing comprehensive resources and services to help them start and grow their own businesses. We are
        dedicated to honoring the service and sacrifice of our veterans by ensuring they have the tools and support they
        need to thrive in their entrepreneurial ventures.
    </p>

    <p>
        Through our nonprofit organization, we offer a range of services tailored to meet the unique needs of veterans:
    </p>

    <ul>
        <li>Assistance with obtaining business licenses to kickstart their entrepreneurial journey.</li>
        <li>Support with corporate filings to ensure legal compliance.</li>
        <li>Solutions for any new business issues that arise, providing expert guidance.</li>
        <li>Marketing and advertising support to help businesses reach their target audience.</li>
        <li>Expert accounting and bookkeeping services to maintain financial health.</li>
        <li>Comprehensive accounting services to manage finances effectively.</li>
        <li>A monthly newsletter to keep veterans informed and connected.</li>
        <li>Professional website development to establish a strong online presence.</li>
        <li>Customized web application development to streamline business operations.</li>
        <li>Development of desktop and mobile applications to enhance business accessibility.</li>
        <li>A variety of other services designed to support business growth – register free to discover more and take
            your business further.</li>
    </ul>

    <p>
        We are committed to fostering a community where veterans can share, grow, and succeed in their entrepreneurial
        endeavors. By putting veterans first, we strive to create a brighter future for those who have served our
        country.
    </p>

    <p>Armando Crescenzi<br>CEO</p>
    
 
    <app-register-button/>
</div>
