.base-space {
  margin: 20px;
  margin-right: 100px;
}

p {
  text-indent: 20px; /* Adjust the amount of indentation as needed */
}

@media (max-width: 950px) {
  .base-space {
    margin: 20px;
  }
}

@media (max-width: 450px) {
  .base-space {
    margin: 10px;
  }
}
